@keyframes vibrate {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    25% {
        transform: translateY(-2px) rotate(5deg);
    }
    50% {
        transform: translateY(2px) rotate(0deg);
    }
    75% {
        transform: translateY(-1px) rotate(-5deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.group-hover:animate-vibrate {
    animation: vibrate 0.3s ease-in-out
}
